
.details_page{
  display: none;
}

.details-block {
  margin: 0 auto;
  margin-bottom: 15px;

  &__block-img {
    width: 273px;
    height: 404px;
    margin: 0 auto;
    margin-bottom: 20px;

    @media (min-width:768px){
      width: 356px;
      height: 526px;
      margin-right: 22px;
      margin-bottom: 0;
    }

    @media (min-width:1024px){
      width: 433px;
      height: 638px;
      margin-right: 36px;
    }
  }

  &__info--tech-info{
    margin-bottom: 24px;
    @media (min-width:1024px){
      margin-bottom: 50px;
    }
  }

  &__info--about{

    @media (min-width: 768px){
      margin-bottom: 35px;
    }
  }

  @media (min-width:768px){
    display: flex;
    margin-bottom: 20px;
  }
  @media (min-width:1024px){
    margin-bottom: 30px;
  }
}

.block-btn {
  font-family: 'Roboto';
  font-size: 14px;
  display: flex;
  justify-content: center;
  margin: 0 auto 12px;

  @media (min-width:768px) {
    margin: 0;
    justify-content: flex-start;
  }
}

.btn-addWatch {
  display: flex;
  background-color: transparent;
  background-image: url();
  border: none;
  margin-right: 20px;

  &__icon-wotched{
    width: 15px;
    height: 15px;
    background-image: url(../images/wotch.jpg);
    background-repeat: no-repeat;
    margin-right: 5px;
  }
}

.btn-addQueue {
  display: flex;
  background-color: transparent;
  border: none;

  &__icon-queue{
    width: 15px;
    height: 15px;
    background-image: url(../images/add.png);
    background-repeat: no-repeat;
    margin-right: 5px;
  }
}

.title-moive{
  text-align: left;
  font-family: 'Roboto';
  font-weight: 500;
  margin-bottom: 12px;
}

.tech-info-item{
  display: flex;
  padding-left: 15px;

  &:nth-child(even){
    background-color: #addad6;
  }

  &__first-item{
    width: 150px;
    margin-right: 30px;
  }
}

.tech-info-item>p {
  text-align: left;
  font-family: 'Roboto';
  font-size: 13px;
  line-height: 25px;
  padding-right: 5px;
}

.about-description{
  font-family: 'Roboto';
  font-size: 14px;
  color: rgba(55, 44, 72, 0.541);
  text-align: justify;
}
@media (min-width: 768px){
  .wrapper-btn-info{
    display: flex;
    justify-content: flex-end;
    flex-direction: column-reverse;
    width: 400px;
  }
}
